html{
	height:150%;
}
body{
	min-height: 100%;
	background-color: #99ff66;
}
#block{
	position: relative;
}
#text {
	font-family: "Spicy Rice";
	font-size: 80px;
	font-weight: 1000;
	color: #004d99;
	position:absolute;
}

#name{
	font-family: "Spicy Rice";
	font-size: 80px;
	font-weight: 5000;
	color: #6600ff;
	position:absolute;

}